<!-- Section Footer-->
<section class="footer">
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
            <div class="col">
                {{ block.settings.footer_column }}
            </div>
            {% endfor %}
        </div>
        <div class="row footer-bottom mt-5">
            <div class="col-3">
                <p>{{ section.settings.bottom_column_one }} </p>
            </div>
            <div class="col-3">
                <p>{{ section.settings.bottom_column_two }}</p>
            </div>
            <div class="col-6">
                <form class="d-flex">
                    <input type="text" class="form-control" value="Enter Email Address">
                    <button class="btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Section Footer mbl-->
<section class="footer-mbl text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                {{ section.settings.mbl_link }}
            </div>
        </div>
        <div class="row social-icon">
            <div class="col">
                <a href="{{ section.settings.fb_link }}"><i class="fab fa-facebook-f"></i></a>
                <a href="{{ section.settings.twi_link }}"><i class="fab fa-twitter"></i></a>
                <a href="{{ section.settings.pin_link }}"><i class="fab fa-pinterest-p"></i></a>
                <a href="{{ section.settings.insta_link }}"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <hr>
        <div class="row newsletter">
            <div class="col">
                <p>{{ section.settings.bottom_column_two }}</p>
                {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                  <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
                {% else %}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                  <button type="submit" name="commit" id="Subscribe">
                    <span>{{ 'general.newsletter_form.submit' | t }}</span>
                  </button>
                {% endif %}
              {% endform %}
            </div>
        </div>
        <hr>
        <div class="row footermbl-bottom">
            <p>{{ section.settings.mbl_address }}</p>
            <p>{{ section.settings.mbl_about }} </p>
        </div>
    </div>
</section>




{% schema %}
{
  "name": "Footer mdi",
  "max_blocks": 4,
  "settings": [
  {
      "id": "bottom_column_one",
      "type": "text",
      "label": "Footer Bottom Column One",
      "default": "Copyright Mas Des Infermières 2021"
  },
  {
      "id": "bottom_column_two",
      "type": "text",
      "label": "Footer Bottom Column Two",
      "default": "Sign up for exlusive news and updates"
  },
  {
      "id": "mbl_link",
      "type": "richtext",
      "label": "Add mobile Links"
  },
  {
      "id": "fb_link",
      "type": "url",
      "label": "Add Facebook Link"
  },
  {
      "id": "twi_link",
      "type": "url",
      "label": "Add Twitter Link"
  },
  {
      "id": "pin_link",
      "type": "url",
      "label": "Add Pinterest Link"
  },
  {
      "id": "insta_link",
      "type": "url",
      "label": "Add Insta Link"
  },
  {
      "id": "mbl_address",
      "type": "text",
      "label": "Add address for mobile"
  },
  {
      "id": "mbl_about",
      "type": "text",
      "label": "Add about for mobile"
  }
  ],
  "blocks": [
  {
      "type": "text",
      "name": "column",
      "settings": [
      {
        "id": "footer_column",
        "type": "richtext",
        "label": "Add Footer Text Or link herer"
      }
      ]
  }
  ],
  "presets": [
      {
          "name": "Footer mdi",
          "category": "custom"
      }
]
}
{% endschema %}





</body>

</html>