<!-- Section Our Story -->
<section class="ourstory-section text-center" style="background-image: url({{ section.settings.background-img | img_url: 'master' }});">
    <div class="container">
        <div class="row">
            <div class="col">
                <span>{{ section.settings.small_title }}</span>
                <h2>{{ section.settings.text_title }}</h2>
                <p>{{ section.settings.text_body }} </p>
                <a href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a>
            </div>
        </div>
    </div>
</section>
<section class="story-content">
    <div class="container line">
        <div class="row">
            <div class="col-6">
                <span>01</span>
            </div>
            <div class="col-6 line-left">
                <img src="{{ section.settings.right_img | img_url: 'master' }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="stry-span">02</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 numbrs" style="padding-top: 7%;">
                <span>01</span>
                <p>{{ section.settings.point_one }}</p>
            </div>
            <div style="display: block;" class="col-md-6 line-left"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 numbrs">
                <span>02</span>
                <p>{{ section.settings.point_two }}</p>
            </div>
            <div class="col-md-6 line-left"></div>
        </div>
        <div class="row intro-story">
            <div class="col-6">
                <img src="{{ section.settings.left_img | img_url: 'master' }}" alt="">
            </div>
            <div class="col-6 line-left">
                <p>{{ section.settings.intro_body }}</p>
                <h5>{{ section.settings.intro_auth }}</h5>
            </div>
        </div>
    </div>
</section>
<!-- Section Our Story Mobile -->

<section class="story-mbl line">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span>{{ section.settings.small_title }}</span>
                <h2>{{ section.settings.text_title }}</h2>
                <img class="img-intro3" src="{{ section.settings.mbl_img1 | img_url: 'master' }}" alt="">
                <p>{{ section.settings.text_body }}</p>
                <a href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <img src="{{ section.settings.mbl_img2 | img_url: 'master' }}" alt="">
            </div>
        </div>
        <div class="row storymbl-intro">
            <div class="col">
                <p>{{ section.settings.intro_body }}</p>
                <h5>{{ section.settings.intro_auth }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="storymbl-introimg" src="{{ section.settings.left_img | img_url: 'master' }}" alt="">
            </div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Home Section3 (Our Story)",
  "settings": [
    {
        "id": "background-img",
        "type": "image_picker",
        "label": "Add Backgrond Image"
    },
    {
        "id": "mbl-img1",
        "type": "image_picker",
        "label": "Image For Mobile"
    },
    {
      "id": "small_title",
      "type": "text",
      "label": "Small Heading",
      "default": "INTRODUCTION"
    },
    {
        "id": "title_text",
        "type": "text",
        "label": "Heading",
        "default": "OUR STORY"
      },
    {
      "id": "text_body",
      "type": "richtext",
      "label": "Add Description",
      "default": "The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich land where exceptional wines are created under the warmth of the Provençal sun. Since 1992 the Scott family have come here to paint, to read and to enjoy the life, played out over long hot summers."
    },
    {
       "id": "link_text",
       "type": "text",
       "label": "Link Text",
       "default": "EXPLORE"
    },
    {
        "id": "link",
        "type": "url",
        "label": "Text Link"
    },
    {
        "id": "right_img",
        "type": "image_picker",
        "label": "Right Image"
    },
    {
        "id": "mbl-img2",
        "type": "image_picker",
        "label": "Image For Mobile"
    },
    {
        "id": "point_one",
        "type": "text",
        "label": "Number One Text",
        "default": "The Provence air is lightly fragranced with lavendar and bay"
    },
    {
        "id": "point_two",
        "type": "text",
        "label": "Number Two Text",
        "default": "Syrah and Granache grapes are grown around the estate"
    },
    {
        "id": "left_img",
        "type": "image_picker",
        "label": "Left Image"
    },
    {
        "id": "Intro_body",
        "type": "richtext",
        "label": "Add Detail",
        "default": "<p>THE SILENCE AND SUNSHINE ARE A SANCTUARY FROM MY PROFESSION. I LOVE TO COME HERE AND PAINT, READ, WRITE AND, HOPEFULLY, IMPROVE MY CORNER OF PROVENCE.</p>"
    },
    {
        "id": "Intro_author",
        "type": "text",
        "label": "Add Author",
        "default": "RIDLEY SCOTT"
    }
  ],
  "presets": [
    {
      "name": "Home Section3 Story",
      "category": "Custom"
    }
  ]
}
{% endschema %}