
<!-- Section Our Residence-->
<section class="our-residence-section">
    <div class="container line">
        <div class="row">
            <img class="bg-residence" src="{{ section.settings.top_img | img_url: 'master' }}" alt="">
            <span>01</span>
        </div>

        <div class="row text-center">
            <div class="col text-center">
                <div style="display: block;" class="vl mb-3"></div>
                <span>{{ section.settings.small_title }}</span>
                <h2>{{ section.settings.title_text }}</h2>
                <p>{{ section.settings.text_body }}</p>
                <a href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a>
            </div>
        </div>

        <div class="row residence-intro">
            <div class="col-6">
                <img src="{{ section.settings.left_img | img_url: 'master' }}" alt="">
            </div>
            <div class="col-6 line-left">
                <p>{{ section.settings.intro_body }}</p>
                <h5>{{ section.settings.intro_author }}</h5>
            </div>
        </div>
        <div class="row">
            <div style="display: block;" class="col-6"></div>
            <div class="col-6 numbrs line-left num">
                <span>01</span>
                <p>{{ section.settings.point_one }}</p>
            </div>
        </div>
        <div class="row">
            <div style="display: block;" class="col-6"></div>
            <div class="col-6 numbrs line-left">
                <span>02</span>
                <p>{{ section.settings.point_two }}</p>
            </div>
        </div>

    </div>
</section>
<!-- Section Our Residence MOBILE-->
<section class="residence-mbl line">
    <div class="container">
        <center>
            <span>{{ section.settings.small_title }}</span>
            <h2>{{ section.settings.title_text }}</h2>
        </center>
        <div class="row">
            <div class="col">
                <img src="{{ section.settings.mbl_img1 | img_url: 'master' }}" alt="">
                <p>{{ section.settings.text_body }}</p>
                <center> <a href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a></center>
                <img class="mt-5" src="{{ section.settings.mbl_img2 | img_url: 'master' }}" alt="">
                <p class="resi-intro">{{ section.settings.intro_body }}</p>
                <h5>{{ section.settings.intro_author }}</h5>
            </div>
        </div>
    </div>
</section>



{% schema %}
{
  "name": "Home Section4 (Residence)",
  "settings": [
    {
      "id": "top_img",
      "type": "image_picker",
      "label": "Add Top Image"
    },
    {
        "id": "mbl_img1",
        "type": "image_picker",
        "label": "Add Top Image for mobile"
      },
    {
        "id": "small_title",
        "type": "text",
        "label": "Small Heading",
        "default": "INTRODUCTION"
    },
    {
        "id": "title_text",
        "type": "text",
        "label": "Heading",
        "default": "OUR RESIDENCES"
    },
    {
        "id": "text_body",
        "type": "richtext",
        "label": "Add Description",
        "default": "<p>The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich land where exceptional wines are created under the warmth of the Provençal sun. Since 1992 the Scott family have come here to paint, to read and to enjoy the life, played out over long hot summers.</P>"
      },
      {
         "id": "link_text",
         "type": "text",
         "label": "Link Text",
         "default": "EXPLORE"
      },
      {
          "id": "link",
          "type": "url",
          "label": "Text Link"
      },
      {
        "id": "left_img",
        "type": "image_picker",
        "label": "Left Image"
    },
    {
        "id": "mbl_img2",
        "type": "image_picker",
        "label": "Left Image for mobile"
    },
    {
        "id": "intro_body",
        "type": "richtext",
        "label": "Add Detail",
        "default": "<p>THE SILENCE AND SUNSHINE ARE A SANCTUARY FROM MY PROFESSION. I LOVE TO COME HERE AND PAINT, READ, WRITE AND, HOPEFULLY, IMPROVE MY CORNER OF PROVENCE.</p>"
    },
    {
        "id": "intro_author",
        "type": "text",
        "label": "Add Author",
        "default": "RIDLEY SCOTT"
    },
    {
        "id": "point_one",
        "type": "text",
        "label": "Number One Text",
        "default": "The Provence air is lightly fragranced with lavendar and bay"
    },
    {
        "id": "point_two",
        "type": "text",
        "label": "Number Two Text",
        "default": "Syrah and Granache grapes are grown around the estate"
    }
  ],
  "presets": [
    {
      "name": "Home Section4 Residence",
      "category": "Custom"
    }
  ]
}
{% endschema %}