<!--Connect Section-->
<section class="connect-section text-center">
    <div class="container">
        <span>{{ section.settings.small_title }}</span>
        <h2>{{ section.settings.title_text }}</h2>
        <div class="row mt-5 mb-5">
            {% for block in section.blocks %}
            <div class="col-4">
                <img src="{{ block.settings.img | img_url: 'master' }}" alt="">
            </div>
            {% endfor %}
        </div>
        <a href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a>
    </div>
</section>


{% schema %}
{
  "name": "Home Section5 (Connect)",
  "max_blocks": 4,
  "settings": [
    {
        "id": "small_title",
        "type": "text",
        "label": "Small Heading",
        "default": "NEWS FROM THE ESTATE"
    },
    {
        "id": "title_text",
        "type": "text",
        "label": "Heading",
        "default": "CONNECT"
    },
    {
        "id": "link_text",
        "type": "text",
        "label": "Link Text",
        "default": "EXPLORE"
     },
     {
         "id": "link",
         "type": "url",
         "label": "Text Link"
     }
  ],
  "blocks": [
  {
      "name": "Add insta Image",
      "settings": [
      {
          "id": "img",
          "type": "image_picker",
          "label": "Image"
      }
      ]
  }
  ],
  "presets": [
    {
      "name": "Home Section5 Connect",
      "category": "Custom"
    }
  ]
}
{% endschema %}