<!-- Section Two Introduction-->
<section class="introduction-section" id="section2">
    <div class="container line">
        <div class="row">
            <div class="col text-center">
                <div class="vl"></div>
                <div class="heading">
                    <span>{{ section.settings.small_title }}</span>
                    <h2>{{ section.settings.text_title }}</h2>
                    <img class="img-intro3" src="{{ section.settings.mbl_right | img_url: 'master' }}" alt="">
                    <p>{{ section.settings.text_body }}</p>
                    <a href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <img class="img-intro1" src="{{ section.settings.left_img | img_url: 'master' }}" alt="">
            </div>
            <div class="col line-left">
                <img class="img-intro2" src="{{ section.settings.right_img | img_url: 'master' }}" alt="">
                <span class="img-count">01</span>
            </div>
        </div>
        <div class="row">
            <img class="img-intro4" src="{{ section.settings.row_img | img_url: 'master' }}" alt="">
            <img class="img-intro5" src="{{ section.settings.mbl_row_img | img_url: 'master' }}" alt="">
            <span class="img-count">02</span>
        </div>
        <div class="row">
            <div style="display:block" class="col-md-6 line-right"></div>
            <div class="col-md-6 col-sm-3">
                <img src="{{ section.settings.right_row_img | img_url: 'master' }}" alt="">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col numbrs">
                <span>01</span>
                <p>{{ section.settings.point_one }}</p>
            </div>
            <div style="display: block;" class="col line-left"></div>
        </div>
        <div class="row">
            <div class="col numbrs">
                <span>02</span>
                <p>{{ section.settings.point_two }}</p>
            </div>
            <div style="display: block;" class="col line-left"></div>
        </div>
    </div>
</section>
<!-- Section Two Introduction End-->



{% schema %}
{
  "name": "Home Section (Our Wines)",
  "settings": [
  {
    "id": "small_title",
    "type": "text",
    "label": "Small Text",
    "default": "INTRODUCTION"
  },
  {
    "id": "text_title",
    "type": "text",
    "label": "Heading",
    "default": "OUR WINES"
  },
  {
    "id": "text_body",
    "type": "richtext",
    "label": "Add Description",
    "default": "<p>The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich land where exceptional wines are created under the warmth of the Provençal sun. Since 1992 the Scott family have come here to paint, to read and to enjoy the life, played out over long hot summers.</p>"
  },
  {
    "id": "link_text",
    "type": "text",
    "label": "Link Text",
    "default": "EXPLORE"
    },
    {
        "id": "link",
        "type": "url",
        "label": "Text Link"
    },
  {
        "id": "left_img",
        "type": "image_picker",
        "label": "Left Image"
    },
    {
        "id": "right_img",
        "type": "image_picker",
        "label": "Right Image"
    },
    {
        "id": "mbl_right",
        "type": "image_picker",
        "label": "Right Image Mobile"
    },
    {
        "id": "row_img",
        "type": "image_picker",
        "label": "Left Row Image"
    },
    {
        "id": "mbl_row_img",
        "type": "image_picker",
        "label": "Left Row Mobile Image"
    },
    {
        "id": "right_row_img",
        "type": "image_picker",
        "label": "Right Row Image"
    },
    {
        "id": "point_one",
        "type": "text",
        "label": "Number One Text",
        "default": "The Provence air is lightly fragranced with lavendar and bay"
    },
    {
        "id": "point_two",
        "type": "text",
        "label": "Number Two Text",
        "default": "Syrah and Granache grapes are grown around the estate"
    }
  ],
  "presets": [
    {
      "name": "Home Section2 Wines",
      "category": "Custom"
    }
  ]
}
{% endschema %}