<!--Connect Section-->
<section class="connect-section text-center">
    <div class="container">
        <span>{{ section.settings.small_title }}</span>
        <h2>{{ section.settings.title_text }}</h2>
        <div class="row mt-5 mb-5">
            {% for block in section.blocks %}
            <div class="col-4">
                <img src="{{ block.settings.img | img_url: 'master' }}" alt="">
            </div>
            {% endfor %}
        </div>
        <a href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a>
    </div>
</section>


{% schema %}
{
  "name": "Category Section",
  "max_blocks": 10,
  "blocks": [
  {
      "type": "text",
      "name": "Add Box",
      "settings": [
      {
          "id": "title",
          "type": "text",
          "label": "Category Name"
      },
      {
          "id": "img",
          "type": "image_picker",
          "label": "Backround Image"
      },
      {
          "id": "link",
          "type": "text",
          "label": "Category Link"
      }
      ]
  }
  ],
  "presets": [
      {
          "name": "Category Section",
          "category": "category section"
      }
]
}
{% endschema %}