<!----Accommodation Section Section---->
<section class="accomodation-section mbl-hide">
    <div class="container line">
        <h2>ACCOMMODATION</h2>
        <div class="story-vl"></div>
        <div class="row">
            <div class="col">
                <img class="acco-img" src="{{ section.settings.img | img_url: 'master' }}" alt="">
                <div class="acco-link">
                    <p>{{ section.settings.cta_text }}</p>
                    <a class=" mt-5" href="{{ section.settings.link }}"><u>{{ section.settings.link_text}}</u></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="acco-img1" src="{{ section.settings.img_one | img_url: 'master' }}" alt="">
            </div>
        </div>
    </div>
</section>



{% schema %}
{
  "name": "Residence section4",
  "settings": [
    {
        "id": "img",
        "type": "image_picker",
        "label": "Add Image"
    },
    {
        "id": "img_one",
        "type": "image_picker",
        "label": "Add Image"
    },
    {
      "id": "cta_text",
      "type": "text",
      "label": "Add Title",
      "default": "LES CHÊNES VERTS"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "Link Text",
      "default": "EXPLORE"
      },
      {
          "id": "link",
          "type": "url",
          "label": "Text Link"
      }
  ],
  "presets": [
    {
      "name": "Residece Section4",
      "category": "Custom"
    }
  ]
}
{% endschema %}