<!----STAY AT THE MAS Section---->
<section class="stay-mas-section" id="section2">
    <div class="container text-center line">
        <div class="vl"></div>
        <div class="heading">
            <span>{{ section.settings.small_title }}</span>
            <h2>{{ section.settings.text_title }}</h2>
        </div>
        <div class="row mt-5 pb-5">
            <div class="col mbl-hide">
                <p>{{ section.settings.text_left }} </p>
            </div>
            <div class="col mbl-hide">
                <p>{{ section.settings.text_right }}</p>
            </div>
            <div class="col desk-hide">
                <p>{{ section.settings.text_mbl }}</p>
                <a class=" mt-5" href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a>
                <img class="mt-5" src="{{ section.settings.mbl_img | img_url: 'master' }}" alt="">
            </div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Residence Section 1",
  "settings": [
    {
        "id": "small_title",
        "type": "text",
        "label": "Small Text",
        "default": "INTRODUCTION"
    },
    {
        "id": "text_title",
        "type": "text",
        "label": "Heading",
        "default": "STAY AT THE MAS"
    },
    {
        "id": "text_left",
        "type": "richtext",
        "label": "Text Left",
        "default": "<p>The Mas des Infermières is located in the heart of Provence, in the Luberon Regional Natural Park. Situated in the “Golden Triangle” between Ménerbes and Gordes, in this magical area, surrounded by the vineyard, olive trees and truffle oak trees, you will find a little “hameau” of three different houses, created for the most perfect holiday. All three houses have been carefully renovated and refurbished, designed and furnished by Mr.Scott in a premium and contemporary</p>"
    },
    {
        "id": "text_right",
        "type": "richtext",
        "label": "Text Left",
        "default": "<p>Provençal style. To make you feel truly at home, each house has its own private pool and garden, a fully equipped kitchen, vast living areas and all bathrooms as en suite. These charming houses can easily accommodate your family or group of friends, up to a party of six or nine. The Scott family welcomes you to their estate and hopes that, as they have, you fall in love with this quiet Provençal backwater.</p>"
    },
    {
        "id": "text_mbl",
        "type": "richtext",
        "label": "Text For Mobile",
        "default": "<p>The Mas des Infermières is located in the heart of Provence, in the Luberon Regional Natural Park. Situated in the “Golden Triangle” between Ménerbes and Gordes, in this magical area, surrounded by the vineyard, olive trees and truffle oak trees, you will find a little “hameau” of three different houses, created for the most perfect holiday. All three houses have been carefully renovated and refurbished, designed and furnished by Mr.Scott in a premium and contemporary Provençal style. To make you feel truly at home, each house has its own private pool and garden, a fully equipped kitchen, vast living areas and all bathrooms as en suite. These charming houses can easily accommodate your family or group of friends, up to a party of six or nine. The Scott family welcomes you to their estate and hopes that, as they have, you fall in love with this quiet Provençal backwater.</p>"
    },
    {
        "id": "mbl_img",
        "type": "image_picker",
        "label": "Mobile Use Image"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "Link Text Mobile",
      "default": "EXPLORE"
      },
      {
          "id": "link",
          "type": "url",
          "label": "Text Link Mobile"
      }
  ],
  "presets": [
    {
      "name": "Residence Section1",
      "category": "Custom"
    }
  ]
}
{% endschema %}