<!-- Section Three Cave & VineYard-->
<section class="cave-section">
    <div class="container line">
        <div class="row">
            <div class="col">
                <div style="display: block;" class="story-vl mbl-hide"></div>
                <div class="heading">
                    <center> <span>{{ section.settings.small_title }}</span></center>
                    <h2>{{ section.settings.title_text }}</h2>
                    <p class="cave-des mbl-hide">{{ section.settings.text_body }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for block in section.blocks %}
                    <div class="carousel-item active">
                        <img src="{{ block.settings.img | img_url: 'master' }}" class="d-block w-100" alt="...">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container line">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p class="slider-dis">
                    {{ section.settings.slider_des }}
                </p>
                <p class="cave-des desk-hide">{{ section.settings.mbl_content }}</p>
                <center><a class="desk-hide mt-5" href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a></center>
            </div>
            <div style="display: block;" class="col-md-6 line-left mbl-hide"></div>
        </div>
        <div class="row cave-intro">
            <div class="col-md-6 col-sm-12">
                <img class="caveintro-img1" src="{{ section.settings.left_img | img_url: 'master' }}" alt="">
            </div>
            <div class="col mbl-hide line pb-5">
                <p>{{ section.settings.intro_body }}</p>
                <h5>{{ section.settings.intro_author }}</h5>
                <img class="caveintro-img2" src="{{ section.settings.right_img | img_url: 'master' }}" alt="">
                <span>01</span>
            </div>
        </div>
        <!--Mobile column-->
        <div class="row cave-intro desk-hide">
            <div class="col">
                <img class="caveintro-img2 desk-hide" src="{{ section.settings.right_img_mbl | img_url: 'master' }}" alt="">
                <p>{{ section.settings.intro_body }}</p>
                <h5>{{ section.settings.intro_author }}</h5>
            </div>
        </div>
        <!--Mobile end-->
        <div class="row box-hide">
            <div class="col-8">
                <img style="width: 915px; margin-left: -20%;" 
                src="{{ section.settings.left_img_two | img_url: 'master' }}" alt="">
                <span>02</span>
            </div>
            <div class="col-4">
                <img style="margin-left: 32%;width: 322.7px;height: 385.2px;" 
                src="{{ section.settings.right_img_two | img_url: 'master' }}" alt="">

                <div class="numbrs">
                    <span>01</span>
                    <p>{{ section.settings.point_one }}</p>
                </div>
                <div class="numbrs">
                    <span>02</span>
                    <p>{{ section.settings.point_two }}</p>
                </div>

            </div>
        </div>
        <!--Mobile column-->
        <div class="row desk-hide">
            <div class="col">
                <img class="caveintro-img3" 
                src="{{ section.settings.left_img_two_mbl | img_url: 'master' }}" alt="">
            </div>
        </div>
        <div class="row desk-hide">
            <div class="col">
                <!--Mobile Img-->
                <img class="caveintro-img4 desk-hide" 
                src="{{ section.settings.right_img_two_mbl | img_url: 'master' }}" alt="">
            </div>
        </div>
        <!--Mobile end-->
    </div>
</section>


{% schema %}
{
  "name": "Story Section2 (cave)",
  "settings": [
    {
        "id": "small_title",
        "type": "text",
        "label": "Small Text",
        "default": "OUR STORY"
    },
    {
        "id": "text_title",
        "type": "text",
        "label": "Heading",
        "default": "CAVE & VINEYARD"
    },
    {
        "id": "text_body",
        "type": "text",
        "label": "Add Description",
        "default": "The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich land where exceptional wines are created under the warmth of the Provençal sun. Since 1992 the Scott family have come here to paint, to read and to enjoy the life, played out over long hot summers."
    },
    {
        "id": "slider_des",
        "type": "text",
        "label": "Add slider Description",
        "default": "This extraordinary “Arts” house is perfect for a big family or a group of friends. It has a separate apartment with kitchen and private entrance and terrace."
    },
    {
        "id": "mbl_content",
        "type": "text",
        "label": "Add Mobile Content",
        "default": "The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich land where exceptional wines are created under the warmth of the Provençal sun. Since 1992 the Scott family have come here to paint, to read and to enjoy the life, played out over long hot summers."
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "Link Text Mobile",
      "default": "EXPLORE"
      },
      {
          "id": "link",
          "type": "url",
          "label": "Text Link Mobile"
      },
      {
        "id": "left_img",
        "type": "image_picker",
        "label": "Left column Image"
    },
    {
        "id": "intro_body",
        "type": "richtext",
        "label": "Add Detail",
        "default": "<p>THE SILENCE AND SUNSHINE ARE A SANCTUARY FROM MY PROFESSION. I LOVE TO COME HERE AND PAINT, READ, WRITE AND, HOPEFULLY, IMPROVE MY CORNER OF PROVENCE.</p>"
    },
    {
        "id": "intro_author",
        "type": "text",
        "label": "Add Author",
        "default": "RIDLEY SCOTT"
    },
    {
        "id": "right_img",
        "type": "image_picker",
        "label": "right column Image"
    },
    {
        "id": "right_img_mbl",
        "type": "image_picker",
        "label": "right column Image for mobile"
    },
    {
      "id": "left_img_two",
      "type": "image_picker",
      "label": "Left column Image"
  },
  {
    "id": "left_img_two_mbl",
    "type": "image_picker",
    "label": "Left column Image for mobile"
  },
  {
      "id": "right_img_two",
      "type": "image_picker",
      "label": "right column Image"
  },
  {
    "id": "right_img_two_mbl",
    "type": "image_picker",
    "label": "right column Image for mobile"
   },
  {
      "id": "point_one",
      "type": "text",
      "label": "Number One Text",
      "default": "The Provence air is lightly fragranced with lavendar and bay"
  },
  {
      "id": "point_two",
      "type": "text",
      "label": "Number Two Text",
      "default": "Syrah and Granache grapes are grown around the estate"
  }
  ],
  "blocks": [
  {
      "type": "text",
      "name": "slider Image",
      "settings": [
      {
          "id": "img",
          "type": "image_picker",
          "label": "Image"
      }
      ]
  }
  ],
  "presets": [
    {
      "name": "Test Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}