<!-- Section Two-->
<section class="storypage-content-section" id="section2">
    <div class="container line mb-5 mbl-hide">
        <div class="story-vl"></div>
    </div>
    <div class="container line">
        <div class="row">
            <div class="col mbl-hide">
                <p class="st-des mbl-hide">{{ section.settings.text_content }}</p>
            </div>
            <div class="col desk-hide">
                <p class="st-des desk-hide">{{ section.settings.text_mobile }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid line">
        <div class="row">
            <div class="col mbl-hide">
                <img style="width: -webkit-fill-available; margin-top: -70px;" 
                src="{{ section.settings.img_desk | img_url: 'master' }}" alt="">
            </div>
            <div class="col desk-hide">
                <img style="margin-left: -16px;width: 108%;" 
                src="{{ section.settings.img_mbl | img_url: 'master' }}}" alt="">
            </div>
        </div>
    </div>
    <div class="container line">
        <div class="story-vl"></div>
        <div class="row mb-5">
            <!--MOBIle-->
            <div class="col-sm-12 desk-hide">
                <p>{{ section.settings.des_body_mbl }}</p>
            </div>
            <center><a class="desk-hide mt-5" href="{{ section.settings.link }}"><u>{{ section.settings.link_text }}</u></a></center>
            <!--DESKTOP-->
            <div class="col mbl-hide">
                <p>{{ section.settings.des_body_left }}</p>
            </div>
            <div class="col mbl-hide">
                <p>{{ section.settings.des_body_right }}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <center><img class="mbl-hide" style="width: 20%;" 
                    src="{{ section.settings.sign_img | img_url: 'master' }}" alt=""></center>
            </div>
        </div>
        <div class="row mt-5">
            <!---border row-->
            <div class="row">
                <div class="col">
                    <div class="story-vl"></div>
                </div>
            </div>
            <!---border row end-->
            <div class="col-9">
                <img class="mbl-hide" style="width: 833px;height: 476px;" 
                src="{{ section.settings.left_img | img_url: 'master' }}" alt="">
                <!---Mobile Content-->
                <img class="desk-hide tab-res" 
                src="{{ section.settings.mbl_left | img_url: 'master' }}" alt="">
            </div>
            <div class="col-3 mbl-hide">
                <div class="numbrs">
                    <span>01</span>
                    <p>{{ section.settings.point_one }}</p>
                </div>
                <div class="numbrs">
                    <span>02</span>
                    <p>{{ section.settings.point_two }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Story Section1",
  "settings": [
  {
    "id": "text_content",
    "type": "text",
    "label": "Add Description for desktop"
  },
  {
    "id": "text_mobile",
    "type": "text",
    "label": "Add Description for mobile"
  },
  {
    "id": "img_desk",
    "type": "image_picker",
    "label": "Full Image For Desktop"
  },
  {
    "id": "img_mbl",
    "type": "image_picker",
    "label": "Full Image For Mobile"
  },
  {
    "id": "des_body_left",
    "type": "richtext",
    "label": "Add left column text for Desktop"
  },
  {
    "id": "des_body_right",
    "type": "richtext",
    "label": "Add right column text for Desktop"
  },
  {
    "id": "des_body_mbl",
    "type": "richtext",
    "label": "Add text for Mobile"
  },
  {
    "id": "link_text",
    "type": "text",
    "label": "Link Text Mobile",
    "default": "EXPLORE"
    },
    {
        "id": "link",
        "type": "url",
        "label": "Text Link Mobile"
    },
  {
    "id": "sign_img",
    "type": "image_picker",
    "label": "Signature Image"
  },
  {
    "id": "left_img",
    "type": "image_picker",
    "label": "Left Image Desktop"
  },
  {
    "id": "mbl_left",
    "type": "image_picker",
    "label": "Left Image Mobile"
  },
  {
    "id": "point_one",
    "type": "text",
    "label": "Number One Text",
    "default": "The Provence air is lightly fragranced with lavendar and bay"
   },
  {
    "id": "point_two",
    "type": "text",
    "label": "Number Two Text",
    "default": "Syrah and Granache grapes are grown around the estate"
  }
  ],
  "presets": [
    {
      "name": "Our Story Section1",
      "category": "Custom"
    }
  ]
}
{% endschema %}