<!-- Environment section-->
<section class="environment-section">
    <div class="container line">
        <div style="display: block;" class="story-vl mbl-hide"></div>
        <div class="heading">
            <center><span>{{ section.settings.small_title }}</span></center>
            <h2>{{ section.settings.text_title }}</h2>
        </div>
        <div class="row mobile-hide">
            <div class="col-6">
                <p>{{ section.settings.text_left }}</p>
            </div>
            <div class="col-6">
                <p>{{ section.settings.text_right }}</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-8 mbl-hide">
                <img src="{{ block.settings.left_img | img_url: 'master' }}" alt="">
            </div>
            <div class="col desk-hide">
                <img src="{{ block.settings.left_img | img_url: 'master' }}" alt="">
                <p>{{ section.settings.text_mbl }}</p>
            </div>
            <div class="col-4 mbl-hide">
                <img style=" width: 330px;height: 255px; margin-top: 60px;margin-left: 100px;" 
                src="{{ block.settings.right_img | img_url: 'master' }}" alt="">
            </div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Story Section5 (Envi)",
  "settings": [
    {
        "id": "small_title",
        "type": "text",
        "label": "Small Text",
        "default": "OUR STORY"
    },
    {
        "id": "text_title",
        "type": "text",
        "label": "Heading",
        "default": "ENVIRONMENT"
    },
    {
        "id": "text_left",
        "type": "text",
        "label": "Add Content",
        "default": "At the core of our environmental strategy and policy is the protection and the development of the bee population on the Mas. Indeed, as the old proverb says, “if the bees die, we all die”. This fundamental goal has implications on all aspects of our viticulture, starting with a state-of-the-art geographic information system to optimize all treatments in the vineyards, reducing our carbon footprint and minimizing the use of any chemicals, whether organic or not. In order to become self-sufficient waterwise, we are conducting a"
    },
    {
        "id": "text_right",
        "type": "text",
        "label": "Add Content",
        "default": "hydrological study using Ground Penetrating Radar data, to optimize the choice of our drilling sites as well as to map the sustainable reserves of underground water. The bee protection priority has led us to pursue the environmentally friendly certification, HVE, Haute Valeur Environmentale (which translates to High Environmental Value) rather than organic certification. This allows the use of only one insecticide - Pyrethrin, a known bee killer."
    },
    {
      "id": "left_img",
      "type": "image_picker",
      "label": "Left column Image"
  },
  {
      "id": "right_img",
      "type": "image_picker",
      "label": "right column Image"
  },
  {
      "id": "text_mbl",
      "type": "text",
      "label": "Mobile Content",
      "default": "The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich land where exceptional wines are created under the warmth of the Provençal sun. Since 1992 the Scott family have come here to paint, to read and to enjoy the life, played out over long hot summers."
  }
  ],
  "presets": [
    {
      "name": "Story Section5 Enviroment",
      "category": "Custom"
    }
  ]
}
{% endschema %}