<!-- Section TEAM-->
<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <center><span>{{ section.settings.small_title }}</span></center>
                <h2>{{ section.settings.title_text }}</h2>
                <!--Team Carousel-->
                <div class="owl-carousel mt-5">
                    
                    {% for block in section.blocks %}
                    <div class="team-card">
                        <img src="{{ block.settings.img | img_url: 'master' }}" alt="">
                        <h3>{{ block.settings.title}}</h3>
                        <p>{{ block.settings.text_body}}</p>
                    </div>
                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Story Section4 (Team)",
  "max_blocks": 10,
  "settings": [
  {
      "id": "small_title",
      "type": "text",
      "label": "Small Text",
      "default": "OUR STORY"
  },
  {
      "id": "text_title",
      "type": "text",
      "label": "Heading",
      "default": "MEET THE TEAM"
  }
  ],
  "blocks": [
  {
      "type": "text",
      "name": "Team Member",
      "settings": [
      {
          "id": "title",
          "type": "text",
          "label": "Title Name"
      },
      {
          "id": "img",
          "type": "image_picker",
          "label": "Image"
      },
      {
          "id": "text_body",
          "type": "richtext",
          "label": "About"
      }
      ]
  }
  ],
  "presets": [
      {
          "name": "Story Section4 Team",
          "category": "custom section"
      }
]
}
{% endschema %}