<!-- Wine Collection Setion-->
<section class="wine-collection-section text-center">
    {%- assign collection = collections[section.settings.collection] -%}
    <div class="container line">
        <div class="story-vl"></div>
        <div class="wine-vl"></div>
        <div class="wine-vl2"></div>
    </div>
    <div class="container line">
        <div class="heading">
            <span class="mbl-hide">{{ section.settings.small_title }}</span>
            <span class="desk-hide">{{ section.settings.mbl_title }}</span>
            <h2>{{ section.settings.desk_title }}</h2>
        </div>
        <div class="row">
            <div class="owl-carousel mt-5">
                {% for product in collection.products limit: 12 %}
                <div class="wine-item line-left">
                    <center> <img src="{{ product.featured_image.src | img_url: '300x' }}" alt=""></center>
                    <h3>{{ product.title }}</h3>
                    <a class=" mt-5" href="{{ product.url | within: collection }}"><u>EXPLORE</u></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



{% schema %}
{
  "name": "Wines",
  "settings": [
    {
      "type": "text",
      "id": "small_title",
      "label": "Heading",
      "default": "THE MAS DES INFERMIERES"
    },
    {
        "type": "text",
        "id": "desk_title",
        "label": "Desktop Title",
        "default": "COLLECTION"
      },
      {
        "type": "text",
        "id": "mbl_title",
        "label": "Mobile Title",
        "default": "OUR WINES"
      },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Wines",
      "category": "Collection"
    }
  ]
}
{% endschema %}